.service_section_class {
  margin: 10rem 0rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8rem;
  margin-bottom:12rem;

}
.service_h1_class {
  color: white;
  font-size: 3rem;
  font-family: myFirstFont2;
  font-weight: bolder;
}
.service_h1_span_class {
  color: #00d1ff;
  font-size: 3rem;
  font-family: myFirstFont2;
  font-weight: bolder;
}
.service_card_container_class {
  width: 85%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5.6em;
  row-gap: 15rem;
  margin-top: 3rem;
}
.service_card_transparent_bg_class {
  width: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 20%,
    rgba(255, 255, 255, 0.3) 80%
  );
  cursor: pointer;
  text-decoration:1s;
  border-radius: 1rem;
  
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.service_card_container_class .service_card_class {
  width: 100%;
  height: 25rem;
  background: url(../../images/svg/Backgrounds/noise_Background.png);
  border-radius: 1rem;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding: 2rem 2rem;
  padding-top: 1rem;
  text-align: center;
}
.service_card_class .service_card_icon_bg_class {
  width: 12rem;
  height: 12rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5rem;
  background-color: rgb(0, 7, 35);
  backdrop-filter: blur(10px);
  /* mix-blend-mode: multiply; */
  border-radius: 50%;
  
}
.service_card_class .service_card_icon_bg_class::before {
  content: "";
  width: 100%;
  height: 100%;
  
  /* box-shadow: 1px 1px 10px 0.8px #00bde8 inset, -1px -1px 10px 0.8px #00bde8 inset;  */
  /* background: radial-gradient(
    ellipse at 50% 50%,
    rgba(255, 0, 85, 0) 55%,
    #00d0ff84 100%
  ); */
  position: absolute;
  border-radius: 50%;
  transition-duration:0.5s;
}
.service_card_class .service_card_icon_class {
  width: 100%;
  height: 100%;
  mix-blend-mode: hard-light;
  background: repeating-linear-gradient(
    190deg,
    rgba(255, 255, 255, 0.3) 0%,
    #ffffff00 105%
  );
  background-blend-mode: overlay;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.service_card_class .service_card_icon_class .service_card_icon_image_class {
  width: 10rem;
  height: fit-content;
  padding: 1rem;
}
.service_card_class .service_card_icon_class svg path{
  fill:white;
  transition-duration: 0.5s;
}

.service_card_class .service_card_icon_class .resize-svg{
  width:7.5rem;
}
.service_card_class .service_card_content_class {
  margin-top: 10rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
  position: relative;
  top: -2rem;
}
.service_card_class .service_card_content_class .service_card_content_h3_class {
  color: white;
  font-family: myFirstFont2;
  font-weight: bolder;
  letter-spacing: 1.5px;
  font-size: 1rem;
  line-height: 2.1rem;
}
.service_card_class .service_card_content_class .service_card_content_p_class {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.9rem;
  line-height: 2rem;
}
.service_card_transparent_bg_class {
  max-width: 100%;
  /* padding: 1rem; */
  /* background-color:blue;
      color: white; */
  position: relative;
  /* border-radius: 50px; */
}


.service_card_class:hover svg path{
  fill:rgb(0, 242, 255)
}
.service_card_class:hover .service_card_icon_bg_class::before{
  box-shadow: 1px 1px 10px 0.8px #00bde8 inset, -1px -1px 10px 0.8px #00bde8 inset; 
}

.service_card_transparent_bg_class::before{
 
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  padding: 3px 3px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    #00d0ff22,
    #00d1ff,
    #00d1ff
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  
}
.service_card_transparent_bg_class:hover::before{
content:"";
}
.service_card_transparent_bg_class:hover{
-ms-transform: scale(1.05); 
  -webkit-transform: scale(1.05); 
  transform: scale(1.05); 
}